.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.heading {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.formAndImage_container {
  display: flex;
  justify-content: space-between;
}
.userInputs_container {
  display: flex;
  flex-direction: column;
}

.para {
  color: black;
}

.name_input {
  border-radius: 10px;
  color: black;
  padding: 15px;
}

.comment_input {
  border-radius: 10px;
  color: black;
  padding: 25px;
}

.add_button {
  background-color: rgba(0, 13, 255, 0.842);
  color: white;
  border: none;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
}

.img_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image {
  padding: 10px;
}

.comments_count {
  background-color: aqua;
  border-radius: 3px;
  padding: 5px;
  height: 30px;
  width: 35px;
  font-weight: bold;
}

.comments_container {
  display: flex;
  flex-direction: column;
}
.horizontal_line {
  border: 1px solid black;
  color: black;
}

.new1 {
  border: 1px solid green;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
